# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python compilados y caché
__pycache__/
*.pyc

# Datos (Archivos pesados de Kaggle que no deben subirse al repositorio)
data/*.csv
data/*.zip

# Modelos entrenados (archivos pesados)
models/*.pkl
models/*.h5
models/*.joblib

# Outputs y visualizaciones generadas
outputs/eda_plots/*.png
outputs/phase2/*.png
outputs/eda_plots/*.html
outputs/eda_plots/*.pdf

outputs/*.csv

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Archivos de Jupyter Notebooks
.ipynb_checkpoints/

# Variables de entorno y secretos
.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db
